* {
  margin: 0;
  padding: 0;
}
.hover-effect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}
h3 {
  color: rgb(77, 192, 57);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}
h3::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: green;
  left: 50%;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}
h3:hover::after {
  cursor: pointer;
  width: 100%;
  left: 0;
}
